<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Student Management System</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row">
			<h1>List Employees</h1>
		</div>

		<div class="row">
			<div class="col-Lg-3">
				<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">Add Employee </a>
			</div>


		</div>

		<table class="table table-dark table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Employee email</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="employee: ${employees}">
					<td th:text="${employee.firstname}"></td>
					<td th:text="${employee.lastname}"></td>
					<td th:text="${employee.email}"></td>
					<td> <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-primary"> Edit</a>
					</td>
			</tbody>
		</table>
	</div>

</body>

</html>